<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App3</title>
  </head>
  <body>
    test
    <div class="content">
      {{> content}}
    </div>
    <div>
      {{#each menuCategories}}
        <li><a href='../category/{{this.slug}}'>{{this.name}} - {{this.slug}}</a></li>
      {{/each}}
    </div>
    <div>
      {{userInfo.email}}
    </div>
  </body>
</html>
